# PostgreSQL Configuration
POSTGRES_DB=resolvehub
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_PORT=5433

# Application Configuration
APP_PORT=8081
SPRING_PROFILES_ACTIVE=dev
HIBERNATE_DDL_AUTO=update
SHOW_SQL=false
